body {
  min-height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/note-Taker\ copy.jpeg");
  /* background-color: #334443; */
  color: white;
  position: relative;
}
.container-fluid {
  background-color: #345b63;
}
div {
  color: white;
}

.card {
  background: #b2b1b9;
  border-radius: 2px;
  height: 425px;
  margin: 1rem;

  width: auto;
  box-shadow: 0 3px 6px rgb(160, 154, 154), 0 3px 6px #999;
  text-align: left;
}
.card-body {
  text-align: center;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: #035397;
  padding-top: 10px;
}
.card > .img-container > img {
  width: 90%;
}

.contact-btn {
  margin-left: 25%;
}
.btn-contact {
  margin-left: 5%;
}

.card:hover {
  margin-left: 20%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.port-card {
  margin-left: 25%;

  height: 400px;
}

.portfolio-container {
  margin-left: 15%;
  margin-right: 25%;
  margin-top: 60px;
  margin-bottom: 100px;
}

.container {
  margin-top: 10%;
}

p {
  color: #fff;
  margin-top: 10%;
}
h3 {
  color: #fff;
  text-align: center;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.about-container {
  text-justify: inter-cluster;
  margin-top: 5%;
  padding-top: 0px;
  margin-left: 5%;
  margin-right: 5%;
}

.profile {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
  float: left;
}

.resumePNG {
  width: 150px;
  height: auto;
  margin-left: 75px;
  margin-top: 15px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  color: rgb(14, 13, 13);
  text-align: center;

  margin-right: 20%;
}

footer p {
  color: #ccc;
}

#action-btn {
  margin-top: 20%;
}

.contact-card {
  height: 50vh;
  width: 50%;
  margin-left: 35%;
  margin-top: 20px;
}

.card-content {
  height: 100vh;
  position: relative;
  width: 100%;
  z-index: 0;
  font-family: "Roboto", sans-serif;
}

.title {
  text-align: center;
  color: white;
}

h1 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 5%;
}

.text-center {
  text-decoration: black;
}

.socials {
  position: absolute;
}

.icons {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.icons li {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  color: white;
}
.icons li a {
  text-decoration: none;
  padding: 4px;
}

.icons li p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.4em;
}

.first_section {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  justify-content: center;
  margin: auto;
  padding: 40px 0px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.profile {
  color: rgb(8, 6, 6);
}

.skill-title {
  padding-top: 50px;
}

hr {
  border: 0.5px solid white;
  width: 100%;
  opacity: 0.7;
  margin-top: 5%;
}

.skills {
  display: flex;
  justify-content: space-around;
  align-items: right;
  margin-right: 10%;
  position: absolute;
}

.skill-image {
  padding: 10px;
  width: 70px;
  height: 70px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 20px;
  box-shadow: 3px 1px 4px 2px rgb(168, 160, 160);
}

.brand-btn {
  border: 1px solid rgb(255, 0, 81);
  color: rgb(65, 50, 50);
}
.brand-btn:hover {
  background-color: rgb(255, 0, 81);
  color: rgb(8, 8, 8);
  transition: all ease 0.5s;
}
.myHeaderStyle ul li {
  text-align: center;
}
